<div class="card mb-6 mt-1 shadow-sm">

  
  {% load thumbnail %}
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img" src="{{ im.url }}">
  {% endthumbnail %}
  
  <div class="card-body">
    <p class="card-text">
      
      <a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}" >
        <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
      </a>
      <strong class="d-block text-gray-light" style="color: #3d4349;">{{ post.title}}</strong> 
      {{ post.text}}    </p>
    
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
       
        <a class="btn btn-sm btn-link" href="{% url 'post' post.author.username post.id %}" role="button">
          Читать полностью
        </a>

        
        {% if user == post.author %}
          <a class="btn btn-sm btn-link" href="{% url 'post_edit' post.author.username post.id %}" role="button">
            Редактировать   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
              <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
            </svg>
          </a>
          <a class="btn btn-sm btn-link" href="{% url 'post_delete' post.author.username post.id %}" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </a>
          
       
        {% endif %}
      </div>

      
      <small class="text-muted">{{ post.pub_date }}</small>
    </div>
  </div>
</div>